* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

main {
    flex-grow: 1;
}

@font-face {
    font-family: 'Raleway';
    src: url('/raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-logo {
    height: 50px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    background-color: #008000;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5.2em;
    padding-right: 5.2em;
    color: white;
    border: 2px solid #008000;
    cursor: pointer;
    max-width: 50%;
    border: 1px solid #008000;
}

input{
    border: 1px solid black;
}

a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    transition: color 100ms, text-decoration 100ms, text-decoration-thickness 100ms, text-underline-offset 100ms, font-weight 100ms;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 16px;
    color: #008000;
    font-weight: bold;
}

.outer-padding {
    padding-right: 10rem;
    padding-left: 10rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    gap: 1.25rem;
    align-self: flex-end;
}

footer {
    background-color: #403b3b;
    padding: 2rem 0; 
    /* Da wir im .footer-content bereits flexen, 
       kann hier der einfache Innenabstand reichen */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-logo img {
    height: 50px; 
}

.footer-logos {
    display: flex;
    gap: 2rem;
}

.footer-logos img {
    height: 1.8rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.footer-logos img:hover {
    filter: drop-shadow(0px 0px 4px #FFFF);
    transform: scale(1.1);
}

@media (max-width: 420px) {
    .footer-logos {
        gap: 1rem;
    }
}

@media (max-width: 380px) {
    .footer-logos {
        height: 0.1rem;
        gap: 0.8rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media (max-width: 380px) {
    .footer-logo img {
        height: 35px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

@media (max-width: 545px) {
    button{
        max-width: 100%;
    }
}

.menu-toggle span {
    width: 100%;
    height: 3px;
    background-color: #403b3b;
    border-radius: 2px;
    transition: 0.3s;
}

.resp_menu_box {
    position: fixed;
    top: 25px;
    right: 0;
    width: 250px;
    border-radius: 10px 0px 0px 10px;
    backdrop-filter: blur(10px);
    height: auto;
    transform: translateX(0);          
    transition: all 250ms ease-in-out;
    z-index: 999;
    overflow-x: hidden;
}

.resp_menu_box ul {
    list-style: none; 
    margin: 0; 
    padding: 0; 
}

.resp_menu_box li {
    margin: 0; 
    text-align: center; 
    background: none; 
}

.resp_menu_box li a {
    text-decoration: none; 
    color: #403b3b; 
    font-size: 1rem; 
    display: flex;
    justify-content: end;
    background: none; 
}

.resp_menu_box li a:hover {
    color: #008001; 
    background: none; 
}

.close-btn {
    position: absolute;
    top: -15px;
    right: -75px;
    font-size: 1.5rem; 
    color: #403b3b; 
    background: none; 
    border: none; 
    cursor: pointer; 
}

.resp_menu_closed {
    transform: translateX(100%);
}

@media (max-width: 950px) {
    .desktop-nav {
        display: none;
    }
    .menu-toggle {
        display: flex;
        align-items: center;
    }
}